@model int
<div class="modal-header">
    <h5 class="modal-title">Eliminar vehículo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    ¿Seguro que desea eliminar el vehículo con ID @Model?
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button class="btn btn-danger" id="btnEliminarVeh">Eliminar</button>
</div>
<script>
    $('#btnEliminarVeh').on('click', function () {
        $.post('/Vehiculos/DeleteConfirmed', { id: @Model })
            .done(msg => Swal.fire('Éxito', msg, 'success').then(() => location.reload()))
            .fail(xhr => Swal.fire('Error', xhr.responseText || 'No se pudo eliminar', 'error'));
    });
</script>
